<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Empty project</title>
    <meta charset="utf-8" />
    <link href="/static/main.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">WELCOMEEEEEEE!</div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
